*{box-sizing: border-box;}
html{
  height: 100%;
  width: 100%;
}


#header1 {
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url("pictures/home.png");
	opacity:1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 700px;
	
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.headerTitle {
  font-family:'IBM Plex Serif', Light ,serif ;
    font-size: 50px;
    font-weight: light;
    color:white;
    margin: 0;
    max-width: 780px;
	text-decoration:underline;
	
    
}

iframe width{
	opacity:0;
	border:10px solid #5DBCD2, #13434F;
}

body{
  font-family: 'Special Elite', cursive;
  height: 100%;
  margin: 0px;
  text-align: center;
}

#leftside{
  width: 50%;
  float: left;
  height: 100%;
  background-color:#5DBCD2;
}

#rightside{
  width: 50%;
  float: right;
  height: 100%;
  background-color: #13434F;
}

.lefttxt{
  border: 3px solid DarkSlateGray;
  display: inline-block;
  margin: 7em auto;
  color: DarkSlateGray;
  padding: 1em;
}

.righttxt{
  border: 3px solid Ivory;
  display: inline-block;
  margin: 7em auto;
  color: Ivory;
  padding: 1em;
}

a{
  text-decoration: none;
  }
  footer{
  	border:3px solid DarkSlateGray;
	float:bottom;
	text-align:center; 
	font-style: italic;
  }